body{
	font-family: Roboto;
	background: linear-gradient(-90deg, rgba(193, 193, 193,1), #fff);
	padding-left: 20px;
	padding-top:80px;
}

h3 {
	color:linear-gradient(-45deg, #191970, rgba(193, 193, 193,1), #333);
}
p{
	color:black;
}

#kick{
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 5px;
	width: 180px;
	height: 260px;
	display: flex;
	align-items: center;
	float:left;
}

button{
	background: linear-gradient(-45deg, #191970, rgba(0,0,0,1), #333);
	border: none;
	padding: 6px;
	border-radius: 4px;
}

.btnlink{
	text-decoration: none;
	color:white;
	background: linear-gradient(-45deg, #191970, rgba(0,0,0,1), #333);

}
.btnlink:hover{
	text-decoration: underline;
	color:grey;
}
/*for larger screen sizes*/
@media(min-width:992px) and (max-width:1199px){
#kick:hover {
    width:600px;
    -webkit-transform: perspective( -100px ) rotateY( 80deg ) skewx(80deg);
    height:800px;
    }

#kick{
	padding-right: 50px;
	padding-top: 5px;
	width: 260px;
	height: 320px;
	display: flex;
	align-items: center;
	float:left;
}
}

@media(min-width:1200px){
#kick:hover {
    width:600px;
    -webkit-transform: perspective( -100px ) rotateY( 80deg ) skewx(80deg);
    height:800px;
    }

#kick{
	padding-right: 50px;
	padding-top: 5px;
	width: 260px;
	height: 320px;
	display: flex;
	align-items: center;
	float:left;
}