h1{ padding-top: 20%;
	padding-left: 5%;
	padding-bottom: 5%;
}

.navbar{
 background: linear-gradient(-45deg,#191970, rgba(0,0,0,1), #333);
 position: fixed;
 z-index: 100;
}

#links{
	display: flex;
	justify-content: center;
}
#images{
	display: hidden;
	display: flex;
	justify-content: center;
}
#icons{
	display: hidden;
	display: flex;
	justify-content: center;
}
#copysite{
	display: flex;
	justify-content: center;
}
#copyright{
	display: flex;
	justify-content: center;
}

.container {
   min-height: 100%;
   position: relative;
}
.body {
	margin: 0;
   height: 100%;
   padding: 5%;
   padding-bottom: 5%;   
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 5%;   /* Height of the footer */
}

/* note to add later
#statement{

}
/*contact me
#profile{
	
}

/*about me
#aboutmephoto{

}
#lion{

}
#handstand{
	
}
*/