h1{ padding-top: 70px;
padding-left: 100px;
}
.navbar{
 background: linear-gradient(-45deg,#191970, rgba(0,0,0,1), #333);
 position: fixed;
 z-index: 100;
}
#links{
	display: flex;
	justify-content: center;
}
#images{
	display: hidden;
	display: flex;
	justify-content: center;
}
#icons{
	display: hidden;
	display: flex;
	justify-content: center;
}
#copysite{
	display: flex;
	justify-content: center;
}
#copyright{
	display: flex;
	justify-content: center;
}
body {
   margin: 0;
   padding: 0;
   height: 100%;
}
#container {
   min-height: 100%;
   position: relative;
}
.navbar-header {
   padding: 10px;
}
#body {
   padding: 10px;
   padding-bottom: 80px;   
}
#footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 80px;   /* Height of the footer */
}

/* note to add later
#statement{

}
/*contact me
#profile{
	
}

/*about me
#aboutmephoto{

}
#lion{

}
#handstand{
	
}
*/