/*whole site*/
h1 {font-size:2.5em;
	padding-top: 80px;
	padding-left: 30px;
	padding-bottom: 8px
}

h2 {font-size:2em;
	color: navy;
	font-weight: bold;
}

h3 {font-size:1.50em;
}

.container {
   min-height: 100%;
   position: relative;
}

.body {
	margin: 0;
	height: 100%;
	padding: 5%;
	padding-bottom: 5%;   
	font-size: 1em;
	line-height: 1.25em;
}
ul{
	list-style-type:disc;
	padding-left: 30px;
	line-height:1.25em;
}
a{
	text-decoration: none;
	color: white;
}

/*index*/
.navbar{
 background: linear-gradient(-45deg,#191970, rgba(0,0,0,1), #333);
 position: fixed;
 z-index: 100;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 5%;   /* Height of the footer */
}
.copyright{
	display: flex;
	justify-content: center;
}

#icons{
	display: flex;
	justify-content: center;
}


/* home*/
#statement{
	font-size: 1.5em;
}
#images{
	display: flex;
	justify-content: center;
}
#links{
	display: flex;
	justify-content: center;
}
.tabs img{
	width: 80%;
	height: 80%;
	padding: 2%;
}

/*about me*/
#aboutmephoto{
	float:right;
	width: 280px;
	height: 400px;

}
#handstand{
	float:left;
	padding-right: 20px;
	padding-top: 10px;
	width: 300px;
	height: 400px;
}

/*workout*/
#transform1{
	margin: 0 auto;	
	width: 100%;
	height: 100%;
}
#transform2{
	margin: 0 auto;	
	width: 100%;
	height: 100%;
}
#progress{
	margin: 0 auto;	
	width: 100%;
	height: 100%;
}
#carousel2{
	display: flex;
	margin: 0 auto;	
	width: 100%;
	height: 100%;
}
/*faq*/
.link{
	text-decoration: underline;
	color: blue;
}
/*contact me*/
#contact{
	float: none;
	padding-right: 20px;
}
iframe{
	width: 100%;
	height: 500px;
}
.contacts{
	color:#0c0c37;
	font-weight: bold;
}