<div>
	<h1>{{title}}</h1>
</div>
<section class="container">			
	<div class ="col-6">
		<img id="aboutmephoto" src="assets/img/bodyshot.jpg" alt="me">

		<h2>What is a Personal Trainer?</h2>
		<p>Personal trainers are certified professionals who can provide you advice, instructions and support on your fitness program and journey. <br> We provide mentoring, support, coaching and motivation in order for you to work to your potential to reach your fitness goals.<br> We have knowledge of human anatomy, functional exercise and basic nutrition.</p>
		<br>
		<h2>Benefits of Having a Personal Trainer</h2>
		<p>Personal training is for everyone. It doesn't matter what age you are, your fitness level and ability or your body type. <br>A personal trainer provides you with an exercise and workout plan tailored to you. <br> Allowing you to reach your goals through a programme that works for you, your body, your time and your life:</p>
		<br>
		<ul>
			<li>Learn proper form and technique for safe training and to reduce injury and increase results</li>
			<li>Establish a workout programme that works for you</li>
			<li>Provide motivation and challenges for improvement and progression so you can work to your potential</li>
			<li>Learn about the importance of stretching, hydration, breathing and good nutrition</li>
			<li>Set and design realistic goals and expectations so that you can achieve and progress towards your ideal goal</li>
		</ul>
	</div>
	<br>
	<div class ="col-6">
		<img id="handstand" src="assets/img/handstand.jpg" alt="Handstand">

		<h2>What I Can Do For You</h2>
		<p>Well all of the above and more!</p>

		<p> I am a newly qualified personal trainer but have been a fitness fanatic for 14+ years now. It all started when I took a class in karate and kungfu and to progress through this sport I have learnt to time manage my days, schedule workouts and have a healthy balanced diet to maintain my physique to compete in British and Scottish championship tournaments.</p>

		<p> I am a busy and determined individual who finds life/work balance is of the utmost importance to me. I do believe you can reach your goals and not have to sacrifice any main loves in life. I don't believe in cutting out all chocolate, sweets, and fast-food altogether, however it is all in the mind-set and it is a discipline that I can teach you</p></div>
		<br>
		<button type="button" class="btn btn-primary btn-large"><a class="btnlink" href="/yourworkout/#mytransformation">Click here to read more my transformation</a></button>
		

		<div class ="col-6">
			<h2>My Qualifications /Specialisms</h2>
			<p>I am a newly qualified personal trainer, who is not new to teaching I have been a kung fu instructor with a third degree black sash at the Scottish Academy of Chinese Martial Arts (SACMA) for 2-3 years. I am also the assistant kickboxing instructor and assistant tournament squad coach. I have been teaching people of all ages and fitness levels professionally and have adapted my training to ensure that each individual gets the most from their time with me.
			</p></div>
		</div>

	</section>