<div>
	<h1>{{title}}</h1>
</div>
   <section class="container"> 
   			<p id="faq">Below are a few FAQ's for your information. For any additional questions not listed please just get in <a href="/contactme">contact</a> with me via the contact form and for a free consultation.</p>
            <br>
        <!--add panel and assign it the id of accordion to link panels together  -->
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <!--link panel heading to panel body via href and add toggle effect-->
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What should I wear?</a>
                    </h4>
                </div>
                <!--set first panel to open position with class in-->
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Please wear comfortable shoes and clothing that you can actively run in and that does not restrict movement.</p>
                    </div>
                </div>
            </div>
            <!--next panel-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                         <!--link panel heading to panel body via  href and add toggle effect-->
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Do I need to bring any equipment?</a>
                    </h4>
                </div>
  				<div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Not at all. All equipment is provided in the gym. All I ask is that you wear some comfortable clothes and shoes and to bring a positive attitude.</p>
                    </div>
                </div>
            </div>

			<div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                         <!--link panel heading to panel body via  href and add toggle effect-->
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">What does personal training involve?</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>As explained sessions will be tailored to you at our first session we will go over and create a workout plan that works for you with your goals, achieveable challenges. Each session will always include stretching, a warming up and cooling off period, this is to ensure your body is ready for exercise and to not shock your system.
                        <br>
                         <button type="button"><a href="/yourworkout">Read Your Workout for further details </a></button></p>
                    </div>
                </div>
            </div>


			<div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                         <!--link panel heading to panel body via  href and add toggle effect-->
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">How long is a session?</a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Generally a training session will last 1 hour but it can vary for each individual and their workout plan</p>
                    </div>
                </div>
            </div>

            	<div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                         <!--link panel heading to panel body via  href and add toggle effect-->
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Where do we train? </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>We can train in the gym, outside in the good outdoors or at other venues.</p>
                    </div>
                </div>
            </div>


            	<div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                         <!--link panel heading to panel body via  href and add toggle effect-->
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">When will I see results?</a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>It is difficult to say. Each individual is different and will have their own lifestyle, workout goals, challenges and different starting points. Seeing physical results can also vary depending on current eating habits, biology and exercise habits. I can say that you will likely feel the results first: from reps getting easier to feeling a lot happier doing exercise.I can say that if you put more effort and energy into your workout you will likely get the results you are looking for sooner, especially with the right nutrition, motivation and mindset.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>           