<div>
    <h1>{{title}}</h1>
</div>
<section class="container">
    <div class="container" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h2>Be Healthy, Be Fit, Be Strong</h2>
        <p id="statement">I aim to provide tailored fitness, exercise and workout programmes for you
            whether it is to lose those pounds, to be and feel fitter, healthier and stronger, you will see and feel the
            results.
        </p>
    </div>
</section>
<!--carousel-->
<section id="home-carousel" class="carousel slide" data-ride="carousel" class="col-12">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#home-carousel" data-slide-to="1"></li>
        <li data-target="#home-carousel" data-slide-to="2"></li>
        <li data-target="#home-carousel" data-slide-to="3"></li>
        <li data-target="#home-carousel" data-slide-to="4"></li>
        <li data-target="#home-carousel" data-slide-to="5"></li>
        <li data-target="#home-carousel" data-slide-to="6"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <figure class="home-carousel-images active">
            <img src="assets/img/pexels/hydrate.jpeg" alt="woman drinking orange juice">
        </figure>
        <figure class="home-carousel-images">
            <img src="assets/img/pexels/kettlebells.jpeg" alt="images of kettlebells">
        </figure>
        <figure class="home-carousel-images">
            <img src="assets/img/pexels/pushup.jpeg" alt="man doing a pushup">
        </figure>
        <figure class="home-carousel-images">
            <img src="assets/img/pexels/weights2.jpeg" alt="man weightlifting barbell">
        </figure>
        <figure class="home-carousel-images">
            <img src="assets/img/pexels/situps.jpeg" alt="situp">
        </figure>
        <figure class="home-carousel-images">
            <img src="assets/img/pexels/stretch.jpeg" alt="woman stretching">
        </figure>
        <figure class="home-carousel-images">
            <img src="assets/img/pexels/weights1.jpeg" alt="man setting up weights">
        </figure>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#home-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</section>
<div id="images" class="col-12">
    <p>Stock Images from <a class="link" href="https://www.pexels.com" target="_blank">Pexels</a> by various
        photographers:
        <a class="link" href="https://www.pexels.com/@victorfreitas" target="_blank">Victor Freitas, </a>
        <a class="link" href="https://www.pexels.com/@olly" target="_blank"> Bruce Mars, </a>
        <a class="link" href="https://www.pexels.com/@keiji-yoshiki-31563" target="_blank">Keiji Yoshiki, </a>
        <a class="link" href="https://www.pexels.com/@mastercowley" target="_blank"> Nathan Cowley,</a>
        <a class="link" href="https://www.pexels.com/@pixabay" target="_blank">Pixabay.com</a>
    </p>
</div>
<hr>
<div class="container tabs">
    <div class="col-xs-6 col-sm-3">
        <h3>About Me</h3>
        <a href="aboutme"><img id="train" src="assets/img/pexels/train.jpeg" alt="personal trainer"
            title="Click for more info"></a>
        <p>About PT</p>
    </div>
    <div class="col-xs-6 col-sm-3">
        <h3>Your Workout</h3>
        <a href="yourworkout"><img id="run" src="assets/img/pexels/run.jpg" alt="silhouette two men running"
            title="Click for more info"></a>
        <p>We work as a team</p>
    </div>
    <div class="col-xs-6 col-sm-3">
        <h3>FAQ</h3>
        <a href="faq"><img id="question" src="assets/img/pexels/question.jpg" alt="question mark"
            title="Click for more info"></a>
        <p>Your questions answered</p>
    </div>
    <div class="col-xs-6 col-sm-3">
        <h3>Contact Me</h3>
        <a href="contactme"><img id="mobile" src="assets/img/pexels/contact.jpg" alt="mobile phone"
            title="Click for more info"></a>
        <br>
        <p>Interested? Contact me</p>
    </div>
</div>
</section>