<div>
	<h1>{{title}}</h1>
</div>
<section class="container">
			
		<div class ="col-12">
			<h2>Your Workout Plan</h2>
			<p>In our first meeting consultation we meet up to discuss you: 
				<ul>
					<li>your goals </li>
					<li>what you want from your personal training sessions</li>
					<li>what changes you wish to see in yourself physically and mentally</li>
					<li>any potential challenges you can foresee how to mitigate these</li>
				 	<li>and then we go over the short-term goals in order to achieve your transformation</li>
				 	<li>and discuss a personalised plan of what you need to do to get there</li>
				 </ul> 
				</p>
				<br>
				<p> This will form the basis of your personal workout plan and will be tailored to your needs, and around your life as much as possible. <br>Whatever you goals may be should it be getting beach beautiful, improving your health physically or mentally, improving fitness, training for a marathon or other, a plan will be made between us and will be your commitment to your fitness and health journey ahead.</p>
		</div>	</section>	

<section class="container">
		<div class ="col-6">
		<h2 id="mytransformation">My Transformation</h2>
		<p>In April of last year I set a challenge for myself, I cut down my intake of calories for 4 months and went from 76.6kg down to 70.8kg. Below is the result, the first picture was taken 19/4/16 and the second picture on 22/8/16.
		It took a lot of discipline, patience and focus to achieve this. I'm a massive food lover so going from a 4000 calorie daily diet slowly down to 1700-1800 was very tough. But if I can do it, anyone can! 
		You just need to have the right mindset if you want to make a change.

    This of course was not nutrition alone I still kept up my workout programme, I went to the gym regularly and work out 5-6 days a week with a rest day each week.</p>
		</div>
</section>