<div>
	<h1>{{title}}</h1>
</div>
<section class="container">
 
  <div class ="col-12">
   <h2>Your Workout Plan</h2>
   <p>In our first meeting consultation we meet up to discuss you: 
    <ul>
     <li>your goals </li>
     <li>what you want from your personal training sessions</li>
     <li>what changes you wish to see in yourself physically and mentally</li>
     <li>any potential challenges you can foresee and how we can mitigate these</li>
     <li>and then we will go over your short-term goals in order to achieve your transformation</li>
     <li>and discuss a personalised plan of what you need to do to get there</li>
   </ul> 
 </p>
 <br>
 <p> This will form the basis of your personal workout plan and will be tailored to your needs, and around your life as much as possible. <br>Whatever your goals may be, should it be getting beach beautiful, improving your health physically or mentally, improving fitness, training for a marathon or other, a plan will be made between us, and will be your commitment to your fitness and health journey ahead.</p>
<video controls="controls" preload="auto" poster="assets/img/AllanMaPT.png">
      <!-- If the browser can't play WEBM try OGV then MP4 -->
      <source src="assets/video/workoutvideowebm.webm" type="video/webm"> 
      <source src="assets/video/workoutvideoogg.ogg" type="video/ogg">
      <source src="assets/video/workoutvideomp4.mp4" type="video/mp4">
</video>
</div> 
</section>
<aside class="container">
<div class="list-group">
  <div class="col-12">
      <div class="list-group-item">
        <span class="glyphicon glyphicon-music"></span> Daniel Birch - I'll Drive <audio controls id="myTune1"><source src="assets/audio/Ill_Drive.mp3"><source src="assets/audio/Ill_Drive.ogg"></audio>
        <span class="badge" id="play1">Play</span><span class="badge" id="pause1">Pause</span><span class="badge" id="stop1">Stop</span>
      </div>
      <div class="list-group-item">
        <span class="glyphicon glyphicon-music"></span> Split Phase - Improvisations out of Cloudwalker <audio controls id="myTune2"><source src="assets/audio/Improvisations_out_of_Cloudwalker.mp3"><source src="assets/audio/Improvisations_out_of_Cloudwalker.ogg"></audio>
        <span class="badge" id="play2">Play</span><span class="badge" id="pause2">Pause</span><span class="badge" id="stop2">Stop</span>
      </div>
      <div class="list-group-item">
        <span class="glyphicon glyphicon-music"></span> Split Phase - Improvisations 03_25_12 part 1 <audio controls id="myTune3"><source src="assets/audio/Improvisations_03_25_12_part_1.mp3"><source src="assets/audio/Improvisations_03_25_12_part_1.ogg"></audio>
        <span class="badge" id="play3">Play</span><span class="badge" id="pause3">Pause</span><span class="badge" id="stop3">Stop</span>
      </div>
      <div class="list-group-item">
        <span class="glyphicon glyphicon-music"></span> Hicham Chahidi -Electronika <audio controls id="myTune4"><source src="assets/audio/Electronika.mp3"><source src="assets/audio/Electronika.ogg"></audio>
        <span class="badge" id="play4">Play</span><span class="badge" id="pause4">Pause</span><span class="badge" id="stop4">Stop</span>
      </div>
      <div class="list-group-item">
        <span class="glyphicon glyphicon-music"></span> Jens East - Nightrise <audio controls id="myTune5"><source src="assets/audio/Nightrise.mp3"><source src="assets/audio/Nightrise.ogg"></audio>
        <span class="badge" id="play5">Play</span><span class="badge" id="pause5">Pause</span><span class="badge" id="stop5">Stop</span>
      </div>
      <div class="list-group-item">
        <span class="glyphicon glyphicon-music"></span> Lobo Loco - Shody Shoes (ID 868) <audio controls id="myTune6"><source src="assets/audio/Shody_Shoes_ID_868.mp3"><source src="assets/audio/Shody_Shoes_ID_868.ogg"></audio>
        <span class="badge" id="play6">Play</span><span class="badge" id="pause6">Pause</span><span class="badge" id="stop6">Stop</span>
      </div>
      </div>
    </div>
</aside>
<section class="container">
  <div class ="col-6">
    <h2 id="mytransformation">My Transformation</h2>
    <p>In April of last year I set a challenge for myself, I cut down my intake of calories for 4 months and went from 76.6kg down to 70.8kg. Below is the result, the first picture was taken 19/4/16 and the second picture on 22/8/16.
      It took a lot of discipline, patience and focus to achieve this. I'm a massive food lover so going from a 4000 calorie daily diet slowly down to 1700-1800 was very tough. But if I can do it, anyone can! 
      You just need to have the right mindset if you want to make a change.

    This of course was not nutrition alone I still kept up my workout programme, I went to the gym regularly and work out 5-6 days a week with a rest day each week.</p>
  </div>
</section>

<!--carousel-->

<div id="carousel-example-generic" class="carousel slide container" data-ride="carousel" class="col-12">
  <div id ="carousel2">
    <ol class="carousel-indicators"> 
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">

      <figure class="item active">
        <img id="transform1" src="assets/img/transformation1.jpg" alt="before transformation">
        <div class="carousel-caption">
          <h3> Before Transformation</h3>
          <p> Taken on 19/04/2016</p>
        </div>
      </figure>

      <figure class="item">
        <img id="transform2" src="assets/img/transformation2.jpg" alt="after transformation">
        <div class="carousel-caption">
          <h3>After Transformation</h3>
          <p> Taken on 22/08/2016 </p>
        </div>
      </figure>

      <figure class="item">
        <img id="progress" src="assets/img/progress.jpg" alt="Progress tracker">
        <div class="carousel-caption">
          <h3> Progress</h3>
          <p> Image of progression on app</p>
        </div>
      </figure>
      
    </div>
    <!--controls-->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a></div>
  </div>